/* Main menu */
@media (min-width: 1160px) {
  #main-menu {
    position: relative;
    z-index: 100;
  }
  #main-menu ul {
    width: 12em; 
  }
}  
.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
  color: #e0d9e1;
  font-family: 'open_sansregular';  
  font-size: 20px;
}
.sm-clean {
  padding: 0px;
  background: transparent;
  border-radius: 0;
}
ul#main-menu {
 margin: 0px 0 0 23px;
}
ul#main-menu > li.menu-item {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background: rgb(69,69,69); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,69,69,1) 0%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}
ul#main-menu > li.menu-item:hover,
ul#main-menu > li.menu-item-active {
  background: rgb(218,212,218); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(218,212,218,1) 0%, rgba(206,202,207,1) 33%, rgba(181,182,186,1) 76%, rgba(171,173,177,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(218,212,218,1) 0%,rgba(206,202,207,1) 33%,rgba(181,182,186,1) 76%,rgba(171,173,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(218,212,218,1) 0%,rgba(206,202,207,1) 33%,rgba(181,182,186,1) 76%,rgba(171,173,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad4da', endColorstr='#abadb1',GradientType=0 ); /* IE6-9 */  
}
ul#main-menu > li.menu-item:hover a,
ul#main-menu > li.menu-item-active a {
  color: #1a1a1a;
}
ul#main-menu > li.menu-item-last {
  border-right: 1px solid #000;
}
.sm-clean a, 
.sm-clean a:hover, 
.sm-clean a:focus, 
.sm-clean a:active, 
.sm-clean a.highlighted {
   padding: 15px 21px;
}
.sm-clean a.has-submenu {
    padding-right: 21px;
}  

/* Submenu */
ul.submenu {
  margin-left: -164px !important;
  margin-top: 1px !important;
  min-width: 1094px !important;
  max-width: 1094px !important;
  width: 1094px !important;
  border: none;    
}

.sm-clean ul {
/*  border-radius: 0px !important;*/
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.2);
  background: rgb(69,69,69);
  background: -moz-linear-gradient(top,  rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%); 
  background: -webkit-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(51,51,51,1) 100%); 
  background: linear-gradient(to bottom,  rgba(69,69,69,1) 0%,rgba(51,51,51,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#333333',GradientType=0 );
  
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;  
  padding-bottom: 10px;
  padding-top: 5px;
}

.sm-clean > li > ul:before, .sm-clean > li > ul:after {
  display: none;
}
.sm-clean ul {
  padding: 8px 0 12px 0;
}
.sm-clean ul li {
  width: 33%;
  float: left;
  margin-left: 3px;
  padding-left: 48px;
  background: url("../Images/menu-item-dot.png") no-repeat 61px 14px;
  padding-bottom: 0 !important;
}
.sm-clean ul li a {
  color: #fff !important;
  font-size: 14px !important;
  font-family: 'open_sansregular'; 
}
.sm-clean ul li:hover a {
  background: transparent !important;
  color: #dc1e24 !important;
  text-decoration: underline;
}

  .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    border: 0 !important;
    padding: 7px 20px;
    color: #555555;
  }