<div class="page-footer footer-gradient">
	<div class="container">
  	<div class="row">
    	<div class="col-md-3 col-sm-3 col-xs-12 copyright">
      	ООО "100БАР" &copy; 2016 г.
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 footer-contacts">
        <span>Тел.:</span> <a href="tel:+78129807236">+7 (812) 980-72-36</a><br />
        <span>E-mail.:</span> <a href="mailto:info@100barcompany.ru">info@100barcompany.ru</a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 address">
      	<span>Адрес:</span> 192102, г. Санкт-Петербург,<br />
      	ул. Самойловой, д. 5, лит. В
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
      	<f:cObject typoscriptObjectPath="lib.callbackLink" />
      </div>
    </div>
  </div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter35688545 = new Ya.Metrika({id:35688545,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/35688545" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->