<div id="toTop">^ Наверх</div>
  <div class="page-header header-gradient">
    <div class="container">
      <div class="row head-columns">
        <div class="col-md-4 logo">
 					<f:cObject typoscriptObjectPath="lib.logo" />
        </div>
        <f:cObject typoscriptObjectPath="lib.slogan" />
        <div class="col-md-3">
        	<f:cObject typoscriptObjectPath="lib.topAddress" />
        </div>
        <div class="col-md-3 phone">
        	<f:cObject typoscriptObjectPath="lib.topPhone" />
        </div>
        <div class="col-md-2 callback">
        	<f:cObject typoscriptObjectPath="lib.callbackLink" />
        </div>                
            
      </div>
      <div class="navbar navbar-gradient">
        <f:cObject typoscriptObjectPath="lib.smMenu" />
        <f:cObject typoscriptObjectPath="lib.search" />
        <div class="clear"></div>
      </div>        
      
      </div>    
    </div>
  </div> 